<nav>
    <div class="navc row">
        <div class="col-2"></div>
        <nav class="col navbar navbar-custom  navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/"> <img src='https://codingfestsydney.github.io/assets/files/festlogo.png'
                    class="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/call">Call
                            for Paticipation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/program">Program</a>
                    </li>
                </ul>
            </div>
            <a class="nav-brand">
                <img src='https://codingfestsydney.github.io/assets/files/USydLogo.svg' class="logo">
            </a>
        </nav>
        <div class="col-2"></div>
    </div>
</nav>